/* line 17, /usr/local/Cellar/rbenv/0.3.0/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, /usr/local/Cellar/rbenv/0.3.0/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, /usr/local/Cellar/rbenv/0.3.0/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, /usr/local/Cellar/rbenv/0.3.0/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, /usr/local/Cellar/rbenv/0.3.0/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, /usr/local/Cellar/rbenv/0.3.0/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, /usr/local/Cellar/rbenv/0.3.0/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, /usr/local/Cellar/rbenv/0.3.0/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, /usr/local/Cellar/rbenv/0.3.0/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 14, /Users/glennrob/Current_Projects/code/wedding/src/stylesheets/partials/_base.sass */
body {
  font: normal 16px/1.6 "Open Sans", Arial, sans-serif;
  text-align: center;
}

/* line 18, /Users/glennrob/Current_Projects/code/wedding/src/stylesheets/partials/_base.sass */
.horizontal {
  *zoom: 1;
}
/* line 38, /usr/local/Cellar/rbenv/0.3.0/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.horizontal:after {
  content: "";
  display: table;
  clear: both;
}
/* line 21, /Users/glennrob/Current_Projects/code/wedding/src/stylesheets/partials/_base.sass */
.horizontal li {
  display: inline;
  float: left;
}

/* line 25, /Users/glennrob/Current_Projects/code/wedding/src/stylesheets/partials/_base.sass */
.center {
  text-align: center;
}

/* line 28, /Users/glennrob/Current_Projects/code/wedding/src/stylesheets/partials/_base.sass */
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

/* line 32, /Users/glennrob/Current_Projects/code/wedding/src/stylesheets/partials/_base.sass */
h1 {
  font: 115px "Amaranth", "Chau Philomene One", "Squada One", "PT Serif Caption", "Lobster";
}

/* line 35, /Users/glennrob/Current_Projects/code/wedding/src/stylesheets/partials/_base.sass */
h2 {
  font: 95px "Yanone Kaffeesatz", "Cagliostro";
  margin-bottom: 20px;
}

/* line 39, /Users/glennrob/Current_Projects/code/wedding/src/stylesheets/partials/_base.sass */
h3 {
  font: 50px "Ruluko", "Belleza", "Berkshire Swash";
}

/* line 42, /Users/glennrob/Current_Projects/code/wedding/src/stylesheets/partials/_base.sass */
h4 {
  font: 36px "Amaranth";
  margin-bottom: 10px;
}

/* line 46, /Users/glennrob/Current_Projects/code/wedding/src/stylesheets/partials/_base.sass */
h5 {
  font-size: 36px;
}

/* line 49, /Users/glennrob/Current_Projects/code/wedding/src/stylesheets/partials/_base.sass */
a {
  color: #0066ee;
}
/* line 51, /Users/glennrob/Current_Projects/code/wedding/src/stylesheets/partials/_base.sass */
a:hover, a:focus {
  color: #0044cc;
}

/* line 54, /Users/glennrob/Current_Projects/code/wedding/src/stylesheets/partials/_base.sass */
.inner_title {
  color: #eeeeee;
  font: 30px Georgia, "Times New Roman", serif;
  padding-top: 40px;
  position: relative;
  top: 15px;
}

/* line 1, /Users/glennrob/Current_Projects/code/wedding/src/stylesheets/partials/_layout.sass */
.wrapper {
  font-size: 14px;
  margin: 0 auto;
  position: relative;
  width: 85%;
  *zoom: 1;
}
/* line 38, /usr/local/Cellar/rbenv/0.3.0/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.wrapper:after {
  content: "";
  display: table;
  clear: both;
}

/* line 8, /Users/glennrob/Current_Projects/code/wedding/src/stylesheets/partials/_layout.sass */
.section {
  *zoom: 1;
}
/* line 38, /usr/local/Cellar/rbenv/0.3.0/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.section:after {
  content: "";
  display: table;
  clear: both;
}

/* line 11, /Users/glennrob/Current_Projects/code/wedding/src/stylesheets/partials/_layout.sass */
.row {
  display: block;
  width: 100%;
}

/* line 15, /Users/glennrob/Current_Projects/code/wedding/src/stylesheets/partials/_layout.sass */
.half, .third, .two-thirds, .fourth, .three-fourths, .fifth {
  display: inline;
  float: left;
  *zoom: 1;
}
/* line 38, /usr/local/Cellar/rbenv/0.3.0/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.half:after, .third:after, .two-thirds:after, .fourth:after, .three-fourths:after, .fifth:after {
  content: "";
  display: table;
  clear: both;
}

/* line 20, /Users/glennrob/Current_Projects/code/wedding/src/stylesheets/partials/_layout.sass */
.half {
  width: 50%;
}

/* line 23, /Users/glennrob/Current_Projects/code/wedding/src/stylesheets/partials/_layout.sass */
.third {
  width: 33%;
}

/* line 26, /Users/glennrob/Current_Projects/code/wedding/src/stylesheets/partials/_layout.sass */
.two-thirds {
  width: 67%;
}

/* line 29, /Users/glennrob/Current_Projects/code/wedding/src/stylesheets/partials/_layout.sass */
.fourth {
  width: 25%;
}

/* line 32, /Users/glennrob/Current_Projects/code/wedding/src/stylesheets/partials/_layout.sass */
.three-fourths {
  width: 75%;
}

/* line 35, /Users/glennrob/Current_Projects/code/wedding/src/stylesheets/partials/_layout.sass */
.fifth {
  width: 20%;
}

/* line 38, /Users/glennrob/Current_Projects/code/wedding/src/stylesheets/partials/_layout.sass */
.left {
  display: inline;
  float: left;
}

/* line 42, /Users/glennrob/Current_Projects/code/wedding/src/stylesheets/partials/_layout.sass */
.right {
  display: inline;
  float: right;
}

/* line 46, /Users/glennrob/Current_Projects/code/wedding/src/stylesheets/partials/_layout.sass */
.clearfix {
  *zoom: 1;
}
/* line 38, /usr/local/Cellar/rbenv/0.3.0/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* line 1, /Users/glennrob/Current_Projects/code/wedding/src/stylesheets/partials/_header.sass */
#header {
  background: black;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 0 3px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 0 3px;
  -o-box-shadow: rgba(0, 0, 0, 0.5) 0 0 3px;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 3px;
}
/* line 8, /Users/glennrob/Current_Projects/code/wedding/src/stylesheets/partials/_header.sass */
#header ul {
  text-align: center;
}
/* line 10, /Users/glennrob/Current_Projects/code/wedding/src/stylesheets/partials/_header.sass */
#header li {
  display: inline-block;
}
/* line 12, /Users/glennrob/Current_Projects/code/wedding/src/stylesheets/partials/_header.sass */
#header a {
  color: #64b4ff;
  display: block;
  font-size: 15px;
  padding: 20px 25% 18px;
  text-decoration: none;
  -moz-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
/* line 19, /Users/glennrob/Current_Projects/code/wedding/src/stylesheets/partials/_header.sass */
#header a:hover, #header a:focus {
  background: rgba(255, 255, 255, 0.08);
  color: white;
}

/* line 1, /Users/glennrob/Current_Projects/code/wedding/src/stylesheets/partials/_content.sass */
body {
  background: #ffe9cf;
}

/* line 5, /Users/glennrob/Current_Projects/code/wedding/src/stylesheets/partials/_content.sass */
h2 {
  border-top: 4px dashed rgba(0, 0, 0, 0.05);
  padding-top: 20px;
}

/* line 11, /Users/glennrob/Current_Projects/code/wedding/src/stylesheets/partials/_content.sass */
#content {
  text-shadow: rgba(255, 255, 255, 0.56) 0 1px 1px;
}

/* line 14, /Users/glennrob/Current_Projects/code/wedding/src/stylesheets/partials/_content.sass */
.date {
  color: #555555;
  font: 32px "Cagliostro";
  margin-bottom: 30px;
}

/* line 19, /Users/glennrob/Current_Projects/code/wedding/src/stylesheets/partials/_content.sass */
#vng {
  padding: 150px 30px 0;
  *zoom: 1;
}
/* line 38, /usr/local/Cellar/rbenv/0.3.0/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#vng:after {
  content: "";
  display: table;
  clear: both;
}
/* line 22, /Users/glennrob/Current_Projects/code/wedding/src/stylesheets/partials/_content.sass */
#vng h2 {
  color: white;
  margin-top: -120px;
  text-shadow: rgba(0, 0, 0, 0.6) 0 0 3px;
}

/* line 27, /Users/glennrob/Current_Projects/code/wedding/src/stylesheets/partials/_content.sass */
.block {
  padding: 100px 0 0;
  *zoom: 1;
}
/* line 38, /usr/local/Cellar/rbenv/0.3.0/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.block:after {
  content: "";
  display: table;
  clear: both;
}

/* line 31, /Users/glennrob/Current_Projects/code/wedding/src/stylesheets/partials/_content.sass */
p.slim {
  padding: 0 25% 30px;
}

/* line 34, /Users/glennrob/Current_Projects/code/wedding/src/stylesheets/partials/_content.sass */
a.book {
  background: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.02);
  display: block;
  float: left;
  margin: 10px 0;
  padding: 10px 9.8%;
  text-align: center;
  width: 30%;
}

/* line 45, /Users/glennrob/Current_Projects/code/wedding/src/stylesheets/partials/_content.sass */
#itinerary table {
  border-collapse: collpse;
  width: 100%;
}
/* line 48, /Users/glennrob/Current_Projects/code/wedding/src/stylesheets/partials/_content.sass */
#itinerary table th, #itinerary table td {
  background: rgba(255, 255, 255, 0.3);
  border-top: 2px solid rgba(0, 0, 0, 0.02);
  padding: 10px 25px;
  white-space: nowrap;
}
/* line 53, /Users/glennrob/Current_Projects/code/wedding/src/stylesheets/partials/_content.sass */
#itinerary table th span, #itinerary table td span {
  display: block;
}
/* line 55, /Users/glennrob/Current_Projects/code/wedding/src/stylesheets/partials/_content.sass */
#itinerary table th p, #itinerary table td p {
  color: rgba(0, 0, 0, 0.6);
  font-size: 13px;
  padding: 5px 0;
}
/* line 59, /Users/glennrob/Current_Projects/code/wedding/src/stylesheets/partials/_content.sass */
#itinerary table th.time, #itinerary table td.time {
  text-align: right;
}
/* line 61, /Users/glennrob/Current_Projects/code/wedding/src/stylesheets/partials/_content.sass */
#itinerary table th {
  color: rgba(0, 0, 0, 0.8);
  font-size: 14px;
  font-weight: bold;
}
/* line 65, /Users/glennrob/Current_Projects/code/wedding/src/stylesheets/partials/_content.sass */
#itinerary table th span {
  font-size: 13px;
}
/* line 69, /Users/glennrob/Current_Projects/code/wedding/src/stylesheets/partials/_content.sass */
#itinerary table tr.day td {
  background: rgba(255, 255, 255, 0.5);
  font-weight: bold;
  font-size: 18px;
}

/* line 74, /Users/glennrob/Current_Projects/code/wedding/src/stylesheets/partials/_content.sass */
.calendar td {
  padding-bottom: 0;
}
/* line 76, /Users/glennrob/Current_Projects/code/wedding/src/stylesheets/partials/_content.sass */
.calendar a {
  display: inline-block;
  height: 34px;
  width: 34px;
  -moz-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
/* line 81, /Users/glennrob/Current_Projects/code/wedding/src/stylesheets/partials/_content.sass */
.calendar a:hover, .calendar a:focus {
  background: white;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -khtml-border-radius: 50%;
  border-radius: 50%;
}
/* line 84, /Users/glennrob/Current_Projects/code/wedding/src/stylesheets/partials/_content.sass */
.calendar a img {
  padding: 5px;
}

/* line 87, /Users/glennrob/Current_Projects/code/wedding/src/stylesheets/partials/_content.sass */
#menu {
  text-align: left;
}
/* line 89, /Users/glennrob/Current_Projects/code/wedding/src/stylesheets/partials/_content.sass */
#menu li {
  *zoom: 1;
}
/* line 38, /usr/local/Cellar/rbenv/0.3.0/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#menu li:after {
  content: "";
  display: table;
  clear: both;
}
/* line 91, /Users/glennrob/Current_Projects/code/wedding/src/stylesheets/partials/_content.sass */
#menu h2 {
  text-align: center;
}
/* line 93, /Users/glennrob/Current_Projects/code/wedding/src/stylesheets/partials/_content.sass */
#menu h3 {
  margin-bottom: 25px;
}
/* line 95, /Users/glennrob/Current_Projects/code/wedding/src/stylesheets/partials/_content.sass */
#menu img {
  float: left;
  padding: 0 20px 90px 0;
}

/* line 100, /Users/glennrob/Current_Projects/code/wedding/src/stylesheets/partials/_content.sass */
#venue .half {
  padding: 20px 2.5%;
  text-align: left;
  width: 45%;
}

/* line 106, /Users/glennrob/Current_Projects/code/wedding/src/stylesheets/partials/_content.sass */
#registry h3, #registry p {
  padding-bottom: 20px;
}
/* line 108, /Users/glennrob/Current_Projects/code/wedding/src/stylesheets/partials/_content.sass */
#registry h3 {
  font-size: 36px;
}
/* line 110, /Users/glennrob/Current_Projects/code/wedding/src/stylesheets/partials/_content.sass */
#registry.block {
  padding-top: 30px;
}

/* line 113, /Users/glennrob/Current_Projects/code/wedding/src/stylesheets/partials/_content.sass */
#countdown_dashboard {
  margin: 0 auto;
  width: 70%;
  *zoom: 1;
}
/* line 38, /usr/local/Cellar/rbenv/0.3.0/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#countdown_dashboard:after {
  content: "";
  display: table;
  clear: both;
}
/* line 117, /Users/glennrob/Current_Projects/code/wedding/src/stylesheets/partials/_content.sass */
#countdown_dashboard .dash {
  background: rgba(255, 255, 255, 0.3);
  color: #06121d;
  display: inline;
  float: left;
  margin: 0 1%;
  padding: 0 4%;
  width: 10%;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.03) 0 0 3px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.03) 0 0 3px;
  -o-box-shadow: rgba(0, 0, 0, 0.03) 0 0 3px;
  box-shadow: rgba(0, 0, 0, 0.03) 0 0 3px;
  text-shadow: white 0 1px 1px;
}
/* line 128, /Users/glennrob/Current_Projects/code/wedding/src/stylesheets/partials/_content.sass */
#countdown_dashboard .dash span {
  color: #444444;
  display: block;
  padding: 15px 0 0;
}
/* line 132, /Users/glennrob/Current_Projects/code/wedding/src/stylesheets/partials/_content.sass */
#countdown_dashboard .digit {
  float: left;
  font: 80px/70px "Yanone Kaffeesatz", sans-serif;
  height: 70px;
  padding-bottom: 20px;
  text-align: center;
  width: 50%;
}
/* line 139, /Users/glennrob/Current_Projects/code/wedding/src/stylesheets/partials/_content.sass */
#countdown_dashboard .digit * {
  color: #ed9322;
}

/* line 1, /Users/glennrob/Current_Projects/code/wedding/src/stylesheets/partials/_footer.sass */
footer {
  background: rgba(0, 0, 0, 0.02);
  margin-top: 100px;
  padding: 60px 0;
}

@media only screen and (min-width: 960px) {
  /* line 2, /Users/glennrob/Current_Projects/code/wedding/src/stylesheets/partials/_queries.sass */
  .wrapper {
    font-size: 15px;
    max-width: 960px;
  }
}
@media only screen and (min-width: 740px) and (max-width: 959px) {
  /* line 7, /Users/glennrob/Current_Projects/code/wedding/src/stylesheets/partials/_queries.sass */
  .wrapper {
    font-size: 13px;
  }
}
@media only screen and (min-width: 540px) and (max-width: 739px) {
  /* line 11, /Users/glennrob/Current_Projects/code/wedding/src/stylesheets/partials/_queries.sass */
  .wrapper {
    font-size: 12px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 539px) {
  /* line 15, /Users/glennrob/Current_Projects/code/wedding/src/stylesheets/partials/_queries.sass */
  .wrapper {
    font-size: 12px;
    min-width: 300px;
  }

  /* line 19, /Users/glennrob/Current_Projects/code/wedding/src/stylesheets/partials/_queries.sass */
  #main_nav, .half, .third, .two-thirds, .fourth {
    clear: both;
    display: block;
    float: none;
    width: 100%;
  }
}
