
%footer#footer
  .wrapper
    %p
      Vivienne & Glenn
      %br
      Sunday, 16 December 2012
      .calendar= link_to img("../images/calendar.png"), "../ics/3.ics", :title => "Add our wedding your calendar"
