#dresscode.block
  %h2 Dress Code
  %p.slim Gents, the wedding is not black tie, but we would appreciate trousers and shirts i.e. please no cargo pants, shorts or jeans. Or a mankini (Tim). Other than that we should be good.

  %p.slim Ladies, a summer frock is a welcome addition to our photos. You know what to do... (there is a lot of gravel/grass, keep that in mind when choosing shoes...)


