#lodging.block
  %h2 Lodging
  %p.slim There are plenty of lovely places to stay in McGregor. Shuttles will be provided from McGregor to the venue (and back again).
  %iframe{:frameborder => "0", :height => "350", :marginheight => "0", :marginwidth => "0", :scrolling => "no", :src => "http://maps.google.co.za/maps/ms?msid=216963773501356449339.0004c3eb1a20191ef5a5f&amp;msa=0&amp;ie=UTF8&amp;t=m&amp;ll=-33.931539,19.85487&amp;spn=0.04985,0.154495&amp;z=13&amp;output=embed", :width => "900"}
  %br
  %small
    %a{:href => "https://maps.google.co.za/maps/ms?msid=216963773501356449339.0004c3eb1a20191ef5a5f&msa=0", :style => "color:#0000FF;text-align:left", :target => '_blank'} View Larger Map
  %br
  = link_to "Browse B&B's", 'http://tourismmcgregor.co.za/pages/where-to-stay.php', :class => "book"
  = link_to "Book via McGregor Info Centre", 'http://www.tourismmcgregor.co.za/pages/online-enquiry-form.php', :class => "book"
