#lodging.block
  %h2 Lodging
  %p There are plenty of lovely places to stay in McGregor.  You can either browse through some B&B’s yourself, or you can book through the McGregor information centre.  
  
  = link_to "Browse B&B's"
  = link_to "Book via McGregor Info Centre"
  
  %p.info Shuttles will be provided from your B&B in McGregor to the venue (and back again).