#registry.block
  %h2 Registry
  %p
    We know how expensive weddings can be for guests, especially when it's out of town.  We have so much already, and we've done really well to keep our wedding costs down.
  %h3
    So... the best gift you could give us is your time.  
  %p
    We're organising a couple of activities on Saturday, the 15th December, which are Option 1 and Option 2 shown under Itinerary.
  %p
    Your gift to us would be to come to McGregor for the whole weekend and join us on the boat and/or braai.
    