#venue.block
  %h2 Venue
  = img "../images/lodge.jpg"
  %h3 Lords Guest House
  %p 
    Kingsriver Road, McGregor,
    %br
    Western Cape, South Africa
  %p GPS xxxxx xxxxxx
  = link_to "" do
    = img "../images/map.jpg"
    View a larger map
