#venue.block
  %h2 Venue
  = img "../images/lodge.jpg"
  .half
    %iframe{:frameborder => "0", :height => "250", :marginheight => "0", :marginwidth => "0", :scrolling => "no", :src => "http://maps.google.co.za/maps?saddr=Robertson,+Western+Cape&daddr=-33.903465,19.8782953+to:Lord's+Guest+Lodge,+Robertson,+Western+Cape&hl=en&sll=-33.885095,19.867401&sspn=0.116712,0.237408&geocode=Fa84_P0dt3UvASm9REJoPWnSHTHm2AZaty44ug%3BFZes-v0dl1EvASnZBhIKQGvSHTH34KdwM-2pvA%3BFQt6-v0dYf0uASGWzp1MjD6uGymPceXKVWvSHTGWzp1MjD6uGw&oq=Lords+Guest+&mra=dpe&mrsp=1&sz=13&via=1&t=m&ie=UTF8&ll=-33.928121,19.852467&spn=0.04273,0.077076&z=13&output=embed", :width => "450"}
    %br
    GPS:
    = link_to "-33° 54' 59.06\", +19° 51' 23.71", "http://maps.google.co.za/maps?saddr=Robertson,+Western+Cape&daddr=-33.903465,19.8782953+to:Lord's+Guest+Lodge,+Robertson,+Western+Cape&hl=en&sll=-33.885095,19.867401&sspn=0.116712,0.237408&geocode=Fa84_P0dt3UvASm9REJoPWnSHTHm2AZaty44ug%3BFZes-v0dl1EvASnZBhIKQGvSHTH34KdwM-2pvA%3BFQt6-v0dYf0uASGWzp1MjD6uGymPceXKVWvSHTGWzp1MjD6uGw&oq=Lords+Guest+&mra=dpe&mrsp=1&sz=13&via=1&t=m&ie=UTF8&ll=-33.928121,19.852467&spn=0.04273,0.077076&z=13&source=embed", :target => '_blank'
  .half
    %h3 Lords Guest House
    %p
      Kingsriver Road, McGregor,
      %br
      Western Cape, South Africa
    %p +27 (0)23 625 1881
    = link_to "" do
      = img "../images/map.jpg"


